section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

article.serie {
    border: 2px solid gray;
    border-radius: 10px;
    width: 300px;
    padding: 10px;

    img {
        width: 100%;
    }
}